.title-slide {
    background-image: url('images/Software-Deployment-Process.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 20px;
}