.reveal section img {
    border: 0;
    box-shadow: none;
}
.font-smaller {
    font-size: smaller;
}
.font-larger {
    font-size: larger;
}

.reveal .lightbg { background: white; }

.strikethrough {
    text-decoration: line-through;
}

.myTable {
    font-size: 0.5em;
}